*.DS_Store
.python-version
*.ipynb
*.ipynb_checkpoints

*__pycache__
*.mypy_cache
*.cache

*.coverage
*coverage.xml

venv
.idea

ml_as_service/ml/data/data
ml_as_service/nlp/models/bert-base-NER

ml_as_service.egg-info
build
dist
